---
import BaseHead from "../../components/BaseHead.astro";
import "@fontsource/ubuntu";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import ArticleCard from "../../components/ArticleCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      body {
        font-family: "Ubuntu", cursive;
        /* background-color: rgba(29, 32, 40, 1); */
        background-image: linear-gradient(
            rgba(23, 29, 39, 0.3),
            /* Your specified semi-transparent color */ rgba(23, 29, 39, 0.3)
          ),
          url("../../assets/bg.svg");
        background-size: cover;
        /* background-position: center; */
        background-repeat: no-repeat;
        background-color: rgba(29, 32, 40, 1);
      }
      main {
        width: 960px;
        margin: 0 auto;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
      }
      ul li:first-child img {
        width: 100%;
      }
      ul li:first-child .title {
        font-size: 2.369rem;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        color: white;
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgba(147, 153, 170, 1);
      }

      ul a:hover img {
        box-shadow: var(--box-shadow);
        transform: scale(1.05);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              // <li>
              //   <a href={`/blog/${post.slug}/`}>
              //     <img
              //       width={720}
              //       height={360}
              //       src={post.data.heroImage}
              //       alt=""
              //     />
              //     <h4 class="title">{post.data.title}</h4>
              //     <p class="date">
              //       <FormattedDate date={post.data.pubDate} />
              //     </p>
              //   </a>
              // </li>
              <ArticleCard post={post} />
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
