---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Button from "../components/button/Button";
import Download from "../components/Download.astro";
import { Image } from "astro:assets";
import BHLogo from "../assets/bh.svg";
import Footer from "../components/Footer.astro";
import "@fontsource/ubuntu";
import { SITE_TITLE, SITE_DESCRIPTION, DownloadItems } from "../consts";
import WhatMakesGDSpecial from "../components/WhatMakesGDSpecial.astro";
import GdxCF from "../components/GdxCF.astro";
import "../styles/HomeStyle.css";

Astro.locals.cache(60);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      body {
        font-family: "Ubuntu", cursive;
        background-color: rgba(29, 32, 40, 1);
        overflow-x: hidden;
      }
      .background {
        background-image: linear-gradient(
            rgba(23, 29, 39, 0.3),
            /* Your specified semi-transparent color */ rgba(23, 29, 39, 0.3)
          ),
          url("../assets/bg.svg");
        background-size: cover;
        /* background-position: center; */
        background-repeat: no-repeat;
        background-color: rgba(29, 32, 40, 1);
      }
      .wave {
        --width: 100%;
        width: var(--width);
        height: calc(var(--width) / 4);
        background-color: rgba(29, 32, 40, 1);
        /* border-radius: 126% / 47%; */
        clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 0 100%);
        position: absolute;
        bottom: 0;
        overflow: hidden;
        /* z-index: -1; */
      }
      .parallax > img {
        height: 780px;
        width: 100%;
      }
    </style></head
  >

  <body>
    <div class="min-h-screen background flex flex-col relative">
      <Header />
      <div class="flex flex-1 flex-col items-center justify-center gap-4">
        <Button intent="secondary" class="rounded-xsgd">
          <a href="https://www.bisecthosting.com/gdl">
            <div class="flex items-center gap-2">
              <Image src={BHLogo} width="24" height="26" alt="bh logo" />
              Get 25% OFF Minecraft Server Hosting w/ BisectHosting
            </div>
          </a>
        </Button>
        <Button
          intent="transparent"
          size="medium"
          class="uppercase cursor-default my-4"
        >
          NEW GDLauncher 2.0 Out Now!
        </Button>
        <div class="flex flex-col">
          <span class="text-mdgd text-center font-bold text-white">
            Elevate your Modded Minecraft
          </span>
          <span class="text-mdgd text-center font-bold text-white">
            Journey with GDLauncher
          </span>
          <span class="font-smgd text-graygd text-center">
            Your All-In-One Minecraft Modded Launcher
          </span>
        </div>
        <!-- <Button items={DownloadItems} isDropdown={true} intent="primary" size="medium">DOWNLOAD FOR</Button> -->
        <Download />
        <!-- <DownloadDropdown /> -->
      </div>
      <div class="relative mx-auto z-10">
        <div class="relative parallax">
          <Image
            id="firstImg"
            src="https://cdn.gdl.gg/github-readme/home.png"
            alt="gd launcher"
            class="mx-auto"
            height="1240"
            width="718"
          />
          <!-- <Image
            id="secondImg"
            src={Export}
            alt="gd launcher"
            class="absolute right-0 bottom-0"
          /> -->
        </div>
      </div>
      <div class="wave"></div>
    </div>

    <WhatMakesGDSpecial />
    <GdxCF />
    <Footer />
    <script>
      import vanilla from "vanilla-tilt";

      vanilla.init(document.querySelector(".parallax") as HTMLElement, {
        max: 15,
        speed: 200,
      });
    </script>
  </body>
</html>
