---
import composeCDNAssetLink from "../utils/composeCDNAssetLink";
import "../styles/global.css"
import { ViewTransitions } from "astro:transitions";
export interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image } = Astro.props as Props;
---

<title>{title}</title>
<meta name="description" content={title} />
<meta name="og:title" property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:description" content={description} />
<meta
  property="og:image"
  content={image || composeCDNAssetLink("gdlauncher_logo_og.png")}
/>
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={image || composeCDNAssetLink("gdlauncher_logo_og.png")}
/>

<ViewTransitions />
