---
import Logo from "../assets/logo.svg";
import { Image } from "astro:assets";
import Button from "./button/Button";
import HeaderLink from "./HeaderLink.astro";
import Twitter from "../assets/twitter.svg";
import Discord from "../assets/discord.svg";
import NewsLetter from "./Newsletter";
import { APP_URLS } from "../consts";
---

<footer class="flex flex-col">
  <div class="flex justify-between p-20 gap-10">
    <div class="flex flex-col items-start basis-[50%]">
      <Image src={Logo} alt="BH Logo" class="pb-4" />
      <p class="text-graygd w-1/2">
        GDLauncher is a simple, yet powerful Minecraft custom launcher with a
        strong focus on the user experience.
      </p>
    </div>
    <div class="">
      <span class="text-white font-medium pb-4">Navigation</span>
      <ul>
        <li>
          <HeaderLink href="/">Home</HeaderLink>
        </li>
        <li>
          <HeaderLink href="#">The Team</HeaderLink>
        </li>
        <li>
          <HeaderLink href="/blog">Blog</HeaderLink>
        </li>
        <li>
          <HeaderLink href="#">ModPacks</HeaderLink>
        </li>
        <li>
          <HeaderLink href={APP_URLS.socials.github}>Github</HeaderLink>
        </li>
		
      </ul>
    </div>
    <div>
      <span class="text-white font-medium pb-4">Download</span>
      <ul>
        <li>
          <HeaderLink
            href="https://cdn-raw.gdl.gg/launcher/GDLauncher__2.0.0-alpha.1703815106__win__x64.exe"
          >
            Windows
          </HeaderLink>
        </li>
        <li>
          <HeaderLink
            href="https://cdn-raw.gdl.gg/launcher/GDLauncher__2.0.0-alpha.1703815106__mac__universal.dmg"
          >
            MacOs
          </HeaderLink>
        </li>
        <li>
          <HeaderLink
            href="https://cdn-raw.gdl.gg/launcher/GDLauncher__2.0.0-alpha.1703815106__linux__x64.AppImage"
          >
            Linux
          </HeaderLink>
        </li>
      </ul>
    </div>
    <!-- <div class="flex flex-col gap-2">
      <span class="text-white font-medium pb-4">Newsletter</span>
      <input
        type="email"
        id="email"
        class="bg-darkgd px-2 py-1 border-bluegd-500 border-[1px] rounded-md text-white outline-none"
      />
      <Button intent="primary" size="small" class="subscribe">
        SUBSCRIBE TO NEWSLETTER
      </Button>
    </div> -->
    <NewsLetter client:idle />
    <div>
      <span class="text-white font-medium pb-4">Download old GDL</span>
      <ul>
        <li>
          <HeaderLink href={APP_URLS.olddownload.win}>Windows</HeaderLink>
        </li>
        <li>
          <HeaderLink href={APP_URLS.olddownload.macOs}>MacOs</HeaderLink>
        </li>
        <li>
          <HeaderLink href={APP_URLS.olddownload.linux}>Linux</HeaderLink>
        </li>
      </ul>
    </div>
    <div>
      <span class="text-white font-medium pb-4">Get in Touch!</span>
      <ul class="flex gap-2">
        <li>
          <HeaderLink href="#">
            <Image src={Discord} alt="social twitter" />
          </HeaderLink>
        </li>
        <li>
          <HeaderLink href="#">
            <Image src={Twitter} alt="social discord" />
          </HeaderLink>
        </li>
      </ul>
	  <div class="flex flex-col">
      <span class="text-graygd"
        >(C) 2023 by GorillaDevs Inc. | All Right Reserved</span
      >
	  <HeaderLink href="/terms-of-service">Terms of service</HeaderLink>
	  <HeaderLink href="/privacy-statement">Privacy statement</HeaderLink>
	  </div>
    </div>
  </div>
  <span class="text-graygd text-center pb-2 text-sm"
    >NOT AN OFFICIAL MINECRAFT PRODUCT. NOT APPROVED BY OR ASSOCIATED WITH
    MOJANG.</span
  >
</footer>
<style>
  a {
    cursor: pointer;
    color: rgba(147, 153, 170, 1);
  }
</style>
