---
import Button from "./button/Button";
import { Image } from "astro:assets";
import Feat1 from "../assets/feat1.svg";
import Feat2 from "../assets/feat2.svg";
import Feat3 from "../assets/feat3.svg";
import Feat4 from "../assets/feat4.svg";
import Feat5 from "../assets/feat5.svg";
import Feat6 from "../assets/feat6.svg";
import Feat7 from "../assets/feat7.svg";
// Component Script (JavaScript)
---

<div class="flex flex-col items-center justify-center p-8 background relative">
  <div class="absolute top-0 bg-[rgba(29, 32, 40, 1)] h-52 w-full -z-10"></div>
  <Button intent="transparent" class="uppercase font-bold z-10">
    Your All-In-One Minecraft Modded Launcher
  </Button>
  <div class="flex flex-col py-4">
    <span class="text-[40px] text-white font-bold text-center z-10"
      >What makes</span
    >
    <span class="text-[40px] text-white font-bold text-center z-10"
      >GDLauncher so special</span
    >
  </div>

  <div
    class="grid grid-cols-1 gap-4 w-full md:w-[80%] justify-items-center p-4 md:grid-cols-2 lg:grid-cols-4"
  >
    <div
      class="flex flex-col items-center text-center w-full md:w-[275px] h-[315px] background__card p-mdgd rounded-[16px] gap-3"
    >
      <Image src={Feat1} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Modpack Integration</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-full md:w-[275px] h-[315px] background__card p-mdgd rounded-[16px] gap-3"
    >
      <Image src={Feat2} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Mods Manager</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-full md:w-[275px] h-[315px] background__card p-mdgd rounded-[16px] gap-3"
    >
      <Image src={Feat3} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Java Manager</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-full md:w-[275px] h-[315px] background__card p-mdgd rounded-[16px] gap-3"
    >
      <Image src={Feat4} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold"
        >Profile Import & Exports</span
      >
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-full md:w-[275px] h-[315px] background__card p-mdgd rounded-[16px] gap-3"
    >
      <Image src={Feat5} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Advanced Logs Manager</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-full md:w-[275px] h-[315px] background__card p-mdgd rounded-[16px] gap-3"
    >
      <Image src={Feat6} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Modload Support</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-full md:w-[275px] h-[315px] background__card p-mdgd rounded-[16px] gap-3"
    >
      <Image src={Feat7} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Modpack Autoupdater</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-full md:w-[275px] h-[315px] background__card p-mdgd rounded-[16px] gap-3"
    >
      <Image src={Feat1} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Custom Themes</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
  </div>
</div>

<style>
  .background {
    background-image: linear-gradient(
        rgba(23, 29, 39, 0.3),
        /* Your specified semi-transparent color */ rgba(23, 29, 39, 0.3)
      ),
      url("../assets/pattern.svg");
    /* clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 0 100%); */
  }
  .background__card {
    background-color: rgba(39, 43, 53, 1);
    --offset: 2px;
    position: relative;
    overflow: hidden;
  }
  .background__card:hover {
    cursor: default;
  }
  .background__card::before {
    content: "";
    background: conic-gradient(
      transparent 270deg,
      rgba(40, 101, 164, 1),
      transparent
    );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    opacity: 0;
    animation: rotate 3s linear infinite;
  }
  .background__card::after {
    content: "";
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
    z-index: 1;
  }

  .background__card::after,
  .background__card::before {
    transition: all 1s ease-in-out;
  }

  .background__card:hover::before {
    content: "";
    background: conic-gradient(
      transparent 270deg,
      rgba(40, 101, 164, 1),
      transparent
    );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    opacity: 1;
    animation: rotate 3s linear infinite;
  }
  .background__card:hover::after {
    content: "";
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
    opacity: 1;
    z-index: 1;
  }
  .background__card > * {
    position: relative;
    z-index: 2;
  }
  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }
    100% {
      transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
  }
</style>
