---
import Button from "./button/Button";
import { Image } from "astro:assets";
import Feat1 from "../assets/feat1.svg";
import Feat2 from "../assets/feat2.svg";
import Feat3 from "../assets/feat3.svg";
import Feat4 from "../assets/feat4.svg";
import Feat5 from "../assets/feat5.svg";
import Feat6 from "../assets/feat6.svg";
import Feat7 from "../assets/feat7.svg";
// Component Script (JavaScript)
---

<div class="flex flex-col items-center justify-center p-8 border-red-500 border-solid border-2">
  <Button intent="transparent" class="uppercase font-bold">
    Your All-In-One Minecraft Modded Launcher
  </Button>
  <span class="text-[40px] text-white font-bold text-center">What makes</span>
  <span class="text-[40px] text-white font-bold text-center"
    >GDLauncher so special</span
  >
  <div class="grid grid-cols-4 gap-4 w-[80%] border-red-500 border-solid border-2 p-4">
    <div
      class="flex flex-col items-center text-center w-[275px] h-[315px] border-red-500 border-solid border-2 bg-[rgba(39, 43, 53, 1)] p-mdgd rounded-[16px]"
    >
      <Image src={Feat1} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Modpack Integration</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-[275px] h-[315px] border-red-500 border-solid border-2 bg-[rgba(39, 43, 53, 1)] p-mdgd rounded-[16px]"
    >
      <Image src={Feat1} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Modpack Integration</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-[275px] h-[315px] border-red-500 border-solid border-2 bg-[rgba(39, 43, 53, 1)] p-mdgd rounded-[16px]"
    >
      <Image src={Feat1} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Modpack Integration</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-[275px] h-[315px] border-red-500 border-solid border-2 bg-[rgba(39, 43, 53, 1)] p-mdgd rounded-[16px]"
    >
      <Image src={Feat1} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Modpack Integration</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-[275px] h-[315px] border-red-500 border-solid border-2 bg-[rgba(39, 43, 53, 1)] p-mdgd rounded-[16px]"
    >
      <Image src={Feat1} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Modpack Integration</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-[275px] h-[315px] border-red-500 border-solid border-2 bg-[rgba(39, 43, 53, 1)] p-mdgd rounded-[16px]"
    >
      <Image src={Feat1} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Modpack Integration</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-[275px] border-red-500 border-solid border-2 h-[315px] bg-[rgba(39, 43, 53, 1)] p-mdgd rounded-[16px]"
    >
      <Image src={Feat1} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Modpack Integration</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
    <div
      class="flex flex-col items-center text-center w-[275px] border-red-500 border-solid border-2 h-[315px] bg-[rgba(39, 43, 53, 1)] p-mdgd rounded-[16px]"
    >
      <Image src={Feat1} alt="feature placeholder" />
      <span class="text-smgd text-white font-bold">Modpack Integration</span>
      <p class="text-graygd text-[14px]">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
        fermentum ligula quis nun porttitor sagittis. In placerat massa vitae
        sapien vestibulum.
      </p>
    </div>
  </div>
</div>

<style></style>
